body {
    background-image: url("../crochet wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.list-group {
    margin: 2%;
    text-align: center
}

.list-group-item {
    border-radius: 10px;
    margin: 0.5%;
    padding: 1.5%
}

.welcome {
    background-color: #C4D9FF;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

h1 {
  font-family: "Chango", serif;
  font-weight: 400;
  font-style: normal;
  color: #563A9C;
}

p {
    font-size: larger;
}