body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    background-image: url("../crochet wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cover {
    justify-content: center; /* Centers vertically */
    text-align: center; /* Centers text */
    max-width: 800px;
    margin: auto;
    padding-bottom: 7%;
}

h1 {
    font-size: 55px;
}

p {
    font-size: 26px;
}


