body {
    background-image: url("../crochet wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

.main-content {
    padding-top: 30px;
}

/* navbar styling */

.nav-bar {
    background-color: #f8f9fa;
    display: flex;
    align-items: stretch;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.navlist {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 15px;
    height: 100%;
}

.navitem {
    display: flex;
    height: 100%;
}

.navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(33, 37, 41);
    padding: 0px 15px;
    height: 100%;
}

.navlink:hover {
    background-color: #C5D3E8;
}

.navlink.active {
    background-color: #C5D3E8;
}

#home-item {
    font-family: "Corinthia", cursive;
    font-weight: 600;
    font-size: 30px;
    height: 100%;
}

@media screen and (max-width: 576px) {
    .navlist {
        padding-left: 5px;
    }

    #home-item {
        font-weight: 400;
        line-height: 0.8;
        font-size: 24px;
    }

    .main-content {
        padding-top: 60px;
        box-sizing: border-box;
    }
}